@using TitansMVC.Models
@using TitansMVC.Models.Relatorios

<div class="modal-dialog" style="width: 1200px">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 class="modal-title">Visualização EPI x Colaborador</h3>
        </div>

        <div class="modal-body">
            <div id="episColaboradoresPesquisados">
                @{ var episColRel = new List<RelEpiColModel>();}
                @Html.Partial("_GridRelEpiColaboradores", episColRel)
            </div>
        </div>

        <div class="modal-footer">
            @*<a id="btnImprimir" data-toggle="modal" onclick ="imprimirRelatorio()" title="Gerar Impressão">
                    <span class="btn btn-primary" value="Imprimir Relatório" aria-hidden="true">Imprimir Relatório</span>
                </a>*@
            @*@if ((ViewBag.PossuiEpisCol != null) && (ViewBag.PossuiEpisCol))
            {
                <a id="btnImprimir" data-toggle="modal" href="@Url.Action("GerarRelEpiColaborador")" title="Gerar Impressão">
                    <span class="btn btn-primary" aria-hidden="true">Imprimir Relatório</span>
                </a>
            }*@
            <button class="btn btn-warning" data-dismiss="modal">Fechar</button>
        </div>
    </div>
</div>
